@model Farm_Central.Models.User;

@{
    ViewData["Title"] = "Register";
}

@*Navbar*@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Farm Central</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="ms-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                    </li>
                    <li class="ml-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@if(TempData["msg"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["msg"]
    </div>
}

@*Register Form*@
<div>
    <h1>Register</h1>
    <h4>Employee Registration</h4>

    <form  class="register_form" method="post" action="Register" class="mt-5">
      <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Surname</label>
        <input type="text" class="form-control" asp-for="Surname">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Role</label>
        <select class="form-select" id="inputGroupSelect04" asp-for="Role">
            <option selected value="Employee">Employee</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>